{% set id = id ?? 'field-users' %}

{% set jsSettings = {
    id: craft.app.view.namespaceInputId(id),
    name: craft.app.view.namespaceInputName(name),
    elementType: 'craft\\elements\\User',
    modalSettings: {
        hideSidebar: true
    }
} %}

<div class="field quarter">
    {{ hiddenInput(name, '') }}
    <div class="heading">
        <label>{{ 'Users'|t('triggers') }}</label>
    </div>
    <div id="{{ id }}" class="elementselect">
        <div class="elements">
            {% for element in value %}
                {% include "_elements/element" with {
                    context: 'field',
                    size: 'small'
                } %}
            {% endfor %}
        </div>
        {% include "_includes/forms/errorList" with {errors: errors[name] ?? []} %}
        <div class="flex">
            {{ tag('button', {
                type: 'button',
                text: 'Add an User'|t('app'),
                class: ['btn', 'add', 'icon', 'dashed'],
                aria: {
                    label: 'Add an User'|t('app')
                },
            }) }}
        </div>
    </div>
</div>

{% js %}
    new Craft.BaseElementSelectInput({{ jsSettings|json_encode|raw }});
{% endjs %}
